COMPILER/.idea/*
COMPILER/venv/*
CONVERT_SERVICE/venv/*
CONVERT_SERVICE/.idea
__pycache__
.vscode
.idea
yolov3.cfg
yolov3.weights
media/
MACHINE_LEARNING/machine_learning/models/images
CONVERT_SERVICE/convert_service/server.bat
CONVERT_SERVICE/convert_service/images
CONVERT_SERVICE/convert_service/media
CONVERT_SERVICE/convert_service/zip
CONVERT_SERVICE/convert_service/convert_image/assets/*.jpg
CONVERT_SERVICE/convert_service/convert_image/assets/*.png
CONVERT_SERVICE/convert_service/convert_image/result/*.jpg
CONVERT_SERVICE/convert_service/convert_image/result/*.png
CONVERT_SERVICE/convert_service/convert_app/tests/images/*.jpg
CONVERT_SERVICE/convert_service/convert_app/tests/images/*.png
.idea/*
*.log
